<template>
  <section class="bottom-nav flex items-center">
    <button
      class="register-button text-center text-white text-sm font-semibold w-full"
      type="button"
    >
      Kostenlos Registrieren
    </button>
  </section>
</template>

<script>
export default {};
</script>

<style scoped>
.bottom-nav {
  background: #ffffff;
  box-shadow: 0px -1px 3px #00000033;
  border-radius: 12px 12px 0px 0px;
  padding: 24px 19.98px 24px 20.02px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.register-button {
  background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 12px;
  padding: 12px 1rem 11px 1rem;
  line-height: 17px;
  word-spacing: 0.84px;
  cursor: pointer;
}
</style>
