<template>
  <section class="center-content flex-1">
    <h1 class="title text-center font-medium">Deine Job website</h1>
    <img
      src="~/assets/images/agreement.svg"
      alt="agreement"
      class="agreement-image"
    />
  </section>
</template>

<script>
export default {};
</script>

<style scoped>
.title {
  line-height: 50px;
  font-size: 42px;
  word-spacing: 1.26px;
  margin: 18px 20px;
}

.center-content {
  padding-top: 70px;
}
</style>
