<template>
  <section class="nav-display flex flex-col py-5">
    <section
      :class="[
        'nav-display-area',
        'flex',
        'pl-8',
        'pr-2',
        'pb-5',
        content.id === 1 ? 'flex-col' : 'flex-col-reverse',
        content.id === 2 ? 'with-bg' : '',
      ]"
      v-for="content in contents[activeTab]"
      :key="content.id"
    >
      <section class="nav-image">
        <img
          :src="require('../assets/images/' + content.image)"
          :alt="content.description"
        />
      </section>
      <section
        :class="[
          'nav-display-content flex items-end gap-x-2',
          { 'mt-5': content.id === 3 },
        ]"
      >
        <h1 class="nav-display-title font-normal">{{ content.id }}.</h1>
        <h6 class="nav-display-description font-normal">
          {{ content.description }}
        </h6>
      </section>
    </section>
  </section>
</template>

<script>
export default {
  data() {
    return {
      contents: {
        0: [
          {
            id: 1,
            image: "profile_data.svg",
            description: "Erstellen dein Lebenslauf",
          },
          {
            id: 2,
            image: "task.svg",
            description: "Erstellen dein Lebenslauf",
          },
          {
            id: 3,
            image: "personal_file.svg",
            description: "Mit nur einem Klick bewerben",
          },
        ],
        1: [
          {
            id: 1,
            image: "profile_data.svg",
            description: "Erstellen dein Unternehmensprofil",
          },
          {
            id: 2,
            image: "about_me.svg",
            description: "Erstellen ein Jobinserat",
          },
          {
            id: 3,
            image: "swipe_profiles.svg",
            description: "Wähle deinen neuen Mitarbeiter aus",
          },
        ],
        2: [
          {
            id: 1,
            image: "profile_data.svg",
            description: "Erstellen dein Unternehmensprofil",
          },
          {
            id: 2,
            image: "job_offers.svg",
            description: "Erhalte Vermittlungs angebot von Arbeitgeber",
          },
          {
            id: 3,
            image: "business_deal.svg",
            description: "Vermittlung nach Provision oder Stundenlohn",
          },
        ],
      },
    };
  },
  computed: {
    activeTab() {
      return this.$store.state.navigation.activeTab;
    },
  },
};
</script>

<style scoped>
.nav-display-title {
  color: #718096;
  font-size: 130px;
  line-height: 156px;
}

.nav-display-description {
  font-size: 15.75px;
  line-height: 19px;
  color: #718096;
  letter-spacing: 0.47px;
  padding-bottom: 28px;
}

.with-bg {
  background: transparent linear-gradient(134deg, #e6fffa 0%, #ebf4ff 100%) 0%
    0% no-repeat padding-box;
  position: relative;
}

.with-bg:before,
.with-bg:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 100px;
}

.with-bg:before {
  background: url(~/assets/images/wave-top.svg) no-repeat;
  top: -60px;
}

.with-bg:after {
  background: url(~/assets/images/wave-bottom.svg) no-repeat;
  bottom: -80px;
}

.nav-image {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.nav-image img {
  height: 100%;
  width: 100%;
}
</style>
