<template>
  <section class="nav-tabs-container w-full overflow-x-auto">
    <ul class="nav-tabs list-none flex">
      <li
        :class="`tab ${activeTab === index ? ' active' : ''}`"
        v-for="(tab, index) in tabs"
        :key="tab"
      >
        <button
          type="button"
          class="tab-nav font-semibold text-sm"
          @click="navigateTab(index)"
        >
          {{ tab }}
        </button>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  data() {
    return {
      tabs: ["Arbeitnehmer", "Arbeitgeber", "Temporärbüro"],
    };
  },
  computed: {
    activeTab() {
      return this.$store.state.navigation.activeTab;
    },
  },
  methods: {
    navigateTab(index) {
      this.$store.commit("navigation/setActiveTab", index);
    },
  },
};
</script>

<style scoped>
.nav-tabs-container {
  margin-top: 100px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.nav-tabs-container::-webkit-scrollbar {
  display: none;
}

.nav-tabs {
  border-radius: 12px 0 0 12px;
}

.tab {
  border: solid 1px #cbd5e0;
}

.tab.active {
  background-color: #81e6d9;
}

.tab.active .tab-nav {
  color: #ffffff;
}

.tab:first-of-type {
  border-radius: 12px 0 0 12px;
}
.tab:last-of-type {
  border-radius: 0 12px 12px 0;
}

.tab-nav {
  cursor: pointer;
  padding: 12px 32px 11px 32px;
  line-height: 17px;
  letter-spacing: 0.84px;
  color: #319795;
}
</style>
