<template>
  <nav class="flex navbar items-center justify-end">
    <NuxtLink to="/login" class="text-sm font-semibold navbar-link"
      >Login</NuxtLink
    >
  </nav>
</template>

<script>
export default {};
</script>

<style scoped>
.navbar {
  padding: 26px 17px 22px 17px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar::before {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  height: 5px;
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
}

.navbar-link {
  color: #319795;
  line-height: 17px;
}
</style>
