<template>
  <main id="wrapper" class="min-h-screen overflow-y-auto overflow-x-hidden">
    <section class="hidden md:flex items-center justify-center h-screen">
      <h3 class="text-base">
        Application available in mobile view only. Check the mobile view to
        navigate.
      </h3>
    </section>
    <section class="md:hidden">
      <section class="h-screen index-start flex flex-col w-100">
        <TopNavigation />
        <CenterContent />
        <BottomNavigation />
      </section>
      <section class="flex flex-col index-end">
        <NavTabs />
        <h3 class="text-center index-end-title font-medium">
          Drei einfache Schritte zu deinem neuen Job
        </h3>
        <NavDisplay />
      </section>
    </section>
  </main>
</template>

<script lang="ts">
import Vue from "vue";
import TopNavigation from "~/components/TopNavigation.vue";

export default Vue.extend({
  components: { TopNavigation },
  name: "IndexPage",
});
</script>

<style scoped>
.index-start {
  background: transparent linear-gradient(141deg, #ebf4ff 0%, #e6fffa 100%) 0%
    0% no-repeat padding-box;
  position: relative;
}

.index-start::after {
  position: absolute;
  bottom: -100px;
  content: "";
  background: url(~/assets/images/wave-bottom-headd.svg) no-repeat;
  width: 100%;
  height: 100px;
  left: 0;
}

.index-end-title {
  font-size: 21px;
  line-height: 25px;
  color: #4a5568;
  margin: 0 40px;
}
</style>
